.component-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 85%;
  width: 30vw;
  background-color: #F8F8F8;
    border-radius: 5%;
  /* margin-top: 20vh; */
}
#root{
  position: relative;
    left: 30%;
    top: 10%;
  height: 80%;
    width: 40%;
}