.component-button {
  display: inline-flex;
  width: 25%;
  /* flex: 1 0 auto; */
  padding: 1vh 1vw;
}

.component-button.wide {
  width: 50%;
}

.component-button button {
  background-color: white;
  border-radius:  50% 50% 50% 50%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: #48bce9;
  border: 0;
  font-size: 0.8em;
  flex: 1 0 auto;
  padding: 0;
}

.component-button:last-child button {
  margin-right: 0;
}

.component-button.orange button {
  /* background-color: #f5923e; */
  /* background: #c70101; */
  background: #2bc5f8;
  color: white;
  

}
.component-button:last-child button{
  border-radius: 6vh;
}
button{
  font-size: 1em!important;
}